Language: Cpp
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
BasedOnStyle: LLVM
UseTab: ForContinuationAndIndentation
ColumnLimit: 0
BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: true
AllowShortIfStatementsOnASingleLine: true
SortIncludes: true
IndentWidth: 8
AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: DontAlign
AlignConsecutiveMacros: true
NamespaceIndentation: All
AccessModifierOffset: -8
IncludeCategories:
    - Regex: '^"(rawrbox)/'
      Priority: 1
      SortPriority: 100
    - Regex: '<[[:alnum:].]+>'
      Priority: 5
      SortPriority: 0
    - Regex: '.*'
      Priority: 8
      SortPriority: 0

DerivePointerAlignment: true
PointerAlignment: Left
