Language: Cpp
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
BasedOnStyle: LLVM
UseTab: ForContinuationAndIndentation
ColumnLimit: 0
BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: true
AllowShortIfStatementsOnASingleLine: true
SortIncludes: true
IndentWidth: 8
AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: DontAlign
AlignConsecutiveMacros: true
NamespaceIndentation: All
AccessModifierOffset: -8
IncludeCategories:
  - Regex: "^<rawrbox/.*>"
    Priority: 1
  - Regex: '^<.*\.hpp>'
    Priority: 2
  - Regex: '^<.*\.h>'
    Priority: 3
  - Regex: "^<.*"
    Priority: 4
  - Regex: ".*"
    Priority: 5

IncludeBlocks: Regroup
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left
AllowShortCaseLabelsOnASingleLine: true
IndentCaseBlocks: true
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
