---
Checks: clang-diagnostic-*
  clang-analyzer-*
  cppcoreguidelines-*
  modernize-*
  hicpp-*
  misc-unused-*
  misc-include-cleaner
  -cppcoreguidelines-avoid-do-while
  -cppcoreguidelines-pro-bounds-constant-array-index
  -modernize-use-trailing-return-type
  -cppcoreguidelines-avoid-non-const-global-variables
  -hicpp-signed-bitwise
  -hicpp-vararg
  -hicpp-braces-around-statements
  -hicpp-no-array-decay
  -cppcoreguidelines-pro-bounds-pointer-arithmetic
  -cppcoreguidelines-non-private-member-variables-in-classes
  -cppcoreguidelines-avoid-magic-numbers
  -cppcoreguidelines-pro-type-vararg
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay
  -cppcoreguidelines-narrowing-conversions
  -hicpp-explicit-conversions
  -clang-analyzer-optin.cplusplus.UninitializedObject
WarningsAsErrors: "*"
HeaderFilterRegex: ""
AnalyzeTemporaryDtors: false
