---
# Enable all by default, then disable some that have either too many warnings
# at the moment or ones that don't make sense for our codebase
Checks: clang-diagnostic-*
    clang-analyzer-*
    cppcoreguidelines-*
    modernize-*
    hicpp-*
    -cppcoreguidelines-pro-bounds-constant-array-index
    -modernize-use-trailing-return-type
    -cppcoreguidelines-avoid-non-const-global-variables
    -hicpp-signed-bitwise
    -hicpp-vararg
    -hicpp-braces-around-statements
    -hicpp-no-array-decay
    -cppcoreguidelines-pro-bounds-pointer-arithmetic
    -cppcoreguidelines-non-private-member-variables-in-classes
    -cppcoreguidelines-avoid-magic-numbers
    -cppcoreguidelines-pro-type-vararg
    -modernize-avoid-c-arrays
    -cppcoreguidelines-avoid-c-arrays
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay
    -cppcoreguidelines-narrowing-conversions
    -clang-analyzer-deadcode.DeadStores
WarningsAsErrors: '*'
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
...
